#main {
    margin: auto;
    width: 70%;
    min-width: 600px;
    height: calc(100vh - 120px);
}

#editor {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
}

#error {
    color: red;
    text-align: center;
}